
body{
    margin-top: 8%;
    background-color: transparent;
    border: 2px solid transparent;
    background-color: transparent;
    color:rgb(202, 23, 23)

}
.listings{

    max-width: 800px;
    margin: auto;
    background: transparent;
    padding: 10px;

   
}


.properties_list{
    margin-left: 50px;
    margin-top: 6%;
}

.properties_list h3{
   font-size: 60px;
}

.properties_list input{
    margin-top: 7px;
    height: 80px;
    width:650px;
    border-radius: 10px;
   
 }
 .properties_list input::placeholder{
    padding-left: 16px;
    font-size: 20px;
   
 }
 

